<div class="a4Container mt-2 m-lg-auto p-3 border rounded">
    <!-- /*****************/ -->
    <div class="htmlScreen rounded p-1">
        <div class="row header justify-content-center m-0 p-0">
            <div class="col-12 col-md-6 text-center text-lg-right d-flex justify-content-center align-items-center">
                <img src="./assets/imgs/logo_249x100.png" alt="" srcset="">
            </div>
            <div class="col-12 col-md-6 text-center text-lg-left border-left py-0 py-md-4 align-self-center title">
                <span class="titleStyle">Planeación, Finanzas y Administración</span>
            </div>
        </div>
        <div class="row table border p-0 pb-2 m-0 mt-2 ">
          <div class="col-12 col-md-2 br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              FECHA DE ELABORACIÓN
            </span>
          </div>
          <div class="col-12 col-md">
            <span class="data">
              {{ infoModel?.formulario?.fechaElaboracion | amLocale:'es' | amDateFormat: 'LLLL' }}
            </span>
          </div>
          
          <div class="w-100"></div>
          <div class="col-12 col-md-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              NOMBRE DEL TRABAJADOR(A)
            </span>
          </div>
          <div class="col-12 col-md bt">
            <span class="data">
              {{ infoModel?.dataToken?.Persona?.primerApellido }} {{ infoModel?.dataToken?.Persona?.segundoApellido }} {{ infoModel?.dataToken?.Persona?.nombres }}
            </span>
          </div>
          <div class="w-100"></div>
          <div class="col-12 col-md-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              NÚMERO DE CONTROL
            </span>
          </div>
          <div class="col-12 col-md-2 col-xl-1 bt">
            <span class="data">
              {{ infoModel?.dataToken?.noCtrl }}
            </span>
          </div>
          <div class="col-12 col-md-2 bl bt br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              ADSCRIPCIÓN
            </span>
          </div>
          <div class="col-12 col-md bt">
            <span class="data">
              {{ infoModel?.emisorData?.nombre }}
            </span>
          </div>
          
          <div class="w-100"></div>
          <div class="col-12 col-md-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              TIPO DE PERMISO
            </span>
          </div>
          <div class="col-12 col-md bt">
            <span class="data">
              {{ infoModel?.formulario?.tipoPermiso?.value }}{{ infoModel?.formulario?.especifique ? (' | ' + infoModel?.formulario?.especifique)  : '' }} 
            </span
          ></div>

          <div class="w-100"></div>
          <div class="col-12 col-md-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              FECHA(S) DEL PERMISO
            </span>
          </div>
          <div class="col-12 col-md bt">
            <span class="data">
              {{ infoModel?.formulario?.fechaPermiso | fechaPermisoTransform}}
            </span>
          </div>
          <div class="col-12 col-md-2 col-lg-1 bl bt br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              DÍA(S)
            </span>
          </div>
          <div class="col-12 col-md-1 bt">
            <span class="data">
              {{ infoModel?.formulario?.dias | diasTransform}}
            </span>
          </div>

          <div class="w-100"></div>
          <div class="col-12 col-md-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              HORA(S) DE JUSTIFICACIÓN
            </span>
          </div>
          <div class="col-12 col-md bt">
            <span class="data">
              {{ infoModel?.formulario?.horario | horarioTransform}}
            </span>
          </div>
          <div class="col-12 col-md-2 col-lg-1 bl bt br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              HORA(S)
            </span>
          </div>
          <div class="col-12 col-md-1 bt">
            <span class="data">
              {{ infoModel?.formulario?.horas | horasTransform: true }}
            </span>
          </div>
          
          <div class="w-100"></div>
          <div class="col-12 col-md-2 br bt bb title d-flex justify-content-end align-items-center">
            <span class="text-right">
              CAUSA O MOTIVO DEL PERMISO
            </span>
          </div>
          <div class="causaSection col-12 col-md bt bb" style="min-height: 75px;">
            <span class="data">
              {{infoModel?.formulario?.motivo}}
            </span>
          </div>

          <div class="w-100 mb-3"></div>
          <div class="col-4 text-center font-weight-bolder">
            SOLICITANTE
            <div class="bb mt-4">&nbsp;</div>
          </div>
          <div class="col-4 text-center font-weight-bolder">
            AUTORIZÓ
            <div class="bb mt-4">&nbsp;</div>
          </div>
          <div class="col-4 text-center font-weight-bolder">
            VO. BO.
            <div class="bb mt-4">&nbsp;</div>
          </div>
        </div>

        <div class="repSeccion d-none">
          <hr class="my-4" style=" border-top: 2px dashed black;">
        </div> <!-- //repSeccion -->
    </div>
    <!-- /*****************/ -->
    <!-- /*****************/ -->
    <div class="btns">
      <br>
      <div class="text-right">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary btn-lg" (click)="backToEdit($event)"><i class="fa fa-pencil pr-2" aria-hidden="true"></i> Modificar </button>
              <button type="button" class="btn btn-success btn-lg" (click)="downloadAsPDF($event)"><i class="fa fa-check-circle-o pr-2" aria-hidden="true"></i> Imprimir </button>
          </div>
          
          <!-- <button *ngIf="!formModule.formSubmitting" type="submit" class="btn btn-success btn-lg"><i class="fa fa-check-circle-o pr-2" aria-hidden="true"></i> Generar formato </button>
          <button *ngIf="formModule.formSubmitting" disabled type="submit" class="btn btn-success btn-lg">
          <p-progressSpinner [style]="{width: '28px', height: '28px'}" class="pr-2"></p-progressSpinner> Generando formato...
          </button> -->
      </div>
    </div>
    <!-- /*****************/ -->
    <!-- /*****************/ -->
    <div class="htmlPrint rounded p-1">
      <div class="row header justify-content-center m-0 p-0">
          <div class="col-6 text-center text-lg-right d-flex justify-content-center align-items-center">
              <img src="./assets/imgs/logo_249x100.png" alt="" srcset="">
          </div>
          <div class="col-6 text-center text-lg-left border-left py-0 py-md-4 align-self-center title">
              <span class="titleStyle">Planeación, Finanzas y Administración</span>
          </div>
      </div>
      <div class="row table border p-0 pb-2 m-0 mt-2 ">
        <div class="col-2 br title d-flex justify-content-end align-items-center">
          <span class="text-right">
            FECHA DE ELABORACIÓN
          </span>
        </div>
        <div class="col">
          <span class="data">
            {{ infoModel?.formulario?.fechaElaboracion | amLocale:'es' | amDateFormat: 'LLLL' }}
          </span>
        </div>
        
        <div class="w-100"></div>
        <div class="col-2 br bt title d-flex justify-content-end align-items-center">
          <span class="text-right">
            NOMBRE DEL TRABAJADOR(A)
          </span>
        </div>
        <div class="col bt">
          <span class="data">
            {{ infoModel?.dataToken?.Persona?.primerApellido }} {{ infoModel?.dataToken?.Persona?.segundoApellido }} {{ infoModel?.dataToken?.Persona?.nombres }}
          </span>
        </div>
        <div class="w-100"></div>
        <div class="col-2 br bt title d-flex justify-content-end align-items-center">
          <span class="text-right">
            NÚMERO DE CONTROL
          </span>
        </div>
        <div class="col-2 col-xl-1 bt">
          <span class="data">
            {{ infoModel?.dataToken?.noCtrl }}
          </span>
        </div>
        <div class="col-1 bl bt br title d-flex justify-content-end align-items-center">
          <span class="text-right">
            ADSCRIPCIÓN
          </span>
        </div>
        <div class="col bt">
          <span class="data">
            {{ infoModel?.emisorData?.nombre }}
          </span>
        </div>
        
        <div class="w-100"></div>
        <div class="col-2 br bt title d-flex justify-content-end align-items-center">
          <span class="text-right">
            TIPO DE PERMISO
          </span>
        </div>
        <div class="col bt">
          <span class="data">
            {{ infoModel?.formulario?.tipoPermiso?.value }}{{ infoModel?.formulario?.especifique ? (' | ' + infoModel?.formulario?.especifique)  : '' }} 
          </span
        ></div>

        <div class="w-100"></div>
        <div class="col-2 br bt title d-flex justify-content-end align-items-center">
          <span class="text-right">
            FECHA(S) DEL PERMISO
          </span>
        </div>
        <div class="col bt">
          <span class="data">
            {{ infoModel?.formulario?.fechaPermiso | fechaPermisoTransform}}
          </span>
        </div>
        <div class="col-1 col-lg-1 bl bt br title d-flex justify-content-end align-items-center">
          <span class="text-right">
            DÍA(S)
          </span>
        </div>
        <div class="col-1 bt">
          <span class="data">
            {{ infoModel?.formulario?.dias | diasTransform}}
          </span>
        </div>

        <div class="w-100"></div>
        <div class="col-2 br bt title d-flex justify-content-end align-items-center">
          <span class="text-right">
            HORA(S) DE JUSTIFICACIÓN
          </span>
        </div>
        <div class="col bt">
          <span class="data">
            {{ infoModel?.formulario?.horario | horarioTransform}}
          </span>
        </div>
        <div class="col-1 col-lg-1 bl bt br title d-flex justify-content-end align-items-center">
          <span class="text-right">
            HORA(S)
          </span>
        </div>
        <div class="col-1 bt">
          <span class="data">
            {{ infoModel?.formulario?.horas | horasTransform }}
          </span>
        </div>
        
        <div class="w-100"></div>
        <div class="col-2 br bt bb title d-flex justify-content-end align-items-center">
          <span class="text-right">
            CAUSA O MOTIVO DEL PERMISO
          </span>
        </div>
        <div class="causaSection col bt bb" style="min-height: 75px;">
          <span class="data">
            {{infoModel?.formulario?.motivo}}
          </span>
        </div>

        <div class="w-100 mb-3"></div>
        <div class="col-4 text-center font-weight-bolder">
          SOLICITANTE
          <div class="bb mt-4">&nbsp;</div>
        </div>
        <div class="col-4 text-center font-weight-bolder">
          AUTORIZÓ
          <div class="bb mt-4">&nbsp;</div>
        </div>
        <div class="col-4 text-center font-weight-bolder">
          VO. BO.
          <div class="bb mt-4">&nbsp;</div>
        </div>
      </div>

      <!-- //repSeccion -->
      <div class="repSeccion d-none">
        <hr class="my-4" style=" border-top: 2px dashed black;">
        <div class="row header justify-content-center m-0 p-0">
          <div class="col-6 text-center text-lg-right d-flex justify-content-center align-items-center">
              <img src="./assets/imgs/logo_249x100.png" alt="" srcset="">
          </div>
          <div class="col-6 text-center text-lg-left border-left py-0 py-md-4 align-self-center title">
              <span class="titleStyle">Planeación, Finanzas y Administración</span>
          </div>
        </div>
        <div class="row table border p-0 pb-2 m-0 mt-2 ">
          <div class="col-2 br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              FECHA DE ELABORACIÓN
            </span>
          </div>
          <div class="col">
            <span class="data">
              {{ infoModel?.formulario?.fechaElaboracion | amLocale:'es' | amDateFormat: 'LLLL' }}
            </span>
          </div>
          
          <div class="w-100"></div>
          <div class="col-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              NOMBRE DEL TRABAJADOR(A)
            </span>
          </div>
          <div class="col bt">
            <span class="data">
              {{ infoModel?.dataToken?.Persona?.primerApellido }} {{ infoModel?.dataToken?.Persona?.segundoApellido }} {{ infoModel?.dataToken?.Persona?.nombres }}
            </span>
          </div>
          <div class="w-100"></div>
          <div class="col-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              NÚMERO DE CONTROL
            </span>
          </div>
          <div class="col-2 col-xl-1 bt">
            <span class="data">
              {{ infoModel?.dataToken?.noCtrl }}
            </span>
          </div>
          <div class="col-1 bl bt br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              ADSCRIPCIÓN
            </span>
          </div>
          <div class="col bt">
            <span class="data">
              {{ infoModel?.emisorData?.nombre }}
            </span>
          </div>
          
          <div class="w-100"></div>
          <div class="col-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              TIPO DE PERMISO
            </span>
          </div>
          <div class="col bt">
            <span class="data">
              {{ infoModel?.formulario?.tipoPermiso?.value }}{{ infoModel?.formulario?.especifique ? (' | ' + infoModel?.formulario?.especifique)  : '' }} 
            </span
          ></div>

          <div class="w-100"></div>
          <div class="col-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              FECHA(S) DEL PERMISO
            </span>
          </div>
          <div class="col bt">
            <span class="data">
              {{ infoModel?.formulario?.fechaPermiso | fechaPermisoTransform}}
            </span>
          </div>
          <div class="col-1 col-lg-1 bl bt br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              DÍA(S)
            </span>
          </div>
          <div class="col-1 bt">
            <span class="data">
              {{ infoModel?.formulario?.dias | diasTransform}}
            </span>
          </div>

          <div class="w-100"></div>
          <div class="col-2 br bt title d-flex justify-content-end align-items-center">
            <span class="text-right">
              HORA(S) DE JUSTIFICACIÓN
            </span>
          </div>
          <div class="col bt">
            <span class="data">
              {{ infoModel?.formulario?.horario | horarioTransform}}
            </span>
          </div>
          <div class="col-1 col-lg-1 bl bt br title d-flex justify-content-end align-items-center">
            <span class="text-right">
              HORA(S)
            </span>
          </div>
          <div class="col-1 bt">
            <span class="data">
              {{ infoModel?.formulario?.horas | horasTransform }}
            </span>
          </div>
          
          <div class="w-100"></div>
          <div class="col-2 br bt bb title d-flex justify-content-end align-items-center">
            <span class="text-right">
              CAUSA O MOTIVO DEL PERMISO
            </span>
          </div>
          <div class="causaSection col bt bb" style="min-height: 75px;">
            <span class="data">
              {{infoModel?.formulario?.motivo}}
            </span>
          </div>

          <div class="w-100 mb-3"></div>
          <div class="col-4 text-center font-weight-bolder">
            SOLICITANTE
            <div class="bb mt-4">&nbsp;</div>
          </div>
          <div class="col-4 text-center font-weight-bolder">
            AUTORIZÓ
            <div class="bb mt-4">&nbsp;</div>
          </div>
          <div class="col-4 text-center font-weight-bolder">
            VO. BO.
            <div class="bb mt-4">&nbsp;</div>
          </div>
        </div>
      </div> <!-- //repSeccion -->
    </div>
    <!-- /*****************/ -->

</div>