:host ::ng-deep {
    p-calendar.wth100 {

        .p-calendar .p-datepicker-touch-ui, .p-datepicker-touch-ui {
            min-width: 50vw!important;
        }

        span.p-calendar {
            width: 100%!important;
        }

        .p-datepicker{
            top: 41px;
        }
    } 
    
}