:host ::ng-deep {
  .text-danger {
    color: red !important;
  }
}

.sideContainer {
  height: 100%; 
  .sideLeft{
    h1{
      padding-top: 2rem;
    }
  
    .logo{
      max-width: 12rem;
    }
  }

  .sideRight{
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sideContainer {        
    .sideLeft{
      padding: 1rem 0;      
      flex-direction: row!important;

      h1{
        padding-top: 0;
        padding-left: 2rem;
      }

      .logo{
        max-width: 9rem;
      }

    }
  }
}


@media print {
  .sideContainer{
    display: block!important;
  }

  .sideLeft{
    display: none!important;
  }
}